<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/professorLogin.css">
    <title>Entrar Professor</title>
</head>
<body>
    <div class="loginBackground">
    <div class="loginPage">
        <div class="formulario-login">
            <div class="campo-formulario">
                <label for="emailInput">e-mail:</label>
                <input id="emailInput" size="15">
            </div>
            <div class="campo-formulario">
                <label for="senhaInput">senha:</label>
                <input id="senhaInput" size="15">
            </div>
            <button class="button">Entrar</button>
        </div>
    </div>
    </div>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/professorLogin.js"></script>
</body>
</html>